<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../parcials/head.ejs')%>
</head>
<body class="background-background">

    <header><%-include('../parcials/nav.ejs')%></header>

    <main>

        <section><%-include('../parcials/introduction.ejs')%></section>

        <section><%-include('../parcials/categories.ejs')%></section>

        <footer><%-include('../parcials/footer.ejs')%></footer>

    </main>

    <%-include('../parcials/bootstrap.ejs')%>

</body>
</html>